* {
    font-family: 'Ubuntu', sans-serif;
    color: #48403e;
}

.wrapper {
    background-color: #f1f7ee;
}

.standard {
    margin-right: 10px;
 
}


.type {
    margin-right: 2px;

}

p {
    display: flex; 
    justify-content: center;
    padding: 20px;
    color: #48403e;
    font-weight: bolder;
    font-size: 40px;
}

/* banner */ 

.treehouse-logo {
    height: 6.5vh;
    padding: 10px;
    margin-left: 20px;
    display: flex; 
}


.banner {
    width: 100%;
    background-color: #f1f7ee;
    display: flex; 
    justify-content: space-between;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.cn-icon-container {
    display: flex;
    margin: 15px;
    align-items: center;
    height: 3vh;
}



.cms {
    color: #48403e;
    font-family: 'Pixelify Sans', sans-serif;
    text-decoration: none;
    font-weight: bolder;
    
} 
.cms:hover {
    color: #589240;;
    text-decoration: none;
}

/* buttons/textarea */ 

.generate {
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 5px;
}

.generate button {
    
    box-shadow: 2px 2px 5px rgba(72, 64, 62, 0.5);
    margin-bottom: 10px; 
}

.generate button:hover {
    background-color: #589240;
    color: #ffff;

}

.more-btn{
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 5px;
  
}

input {
    border: 1px solid #ccc;
    border-radius: 5px;
    
}

.output-container {
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 5px; 
 
}

#output-textarea {
    box-shadow: 2px 2px 5px rgba(72, 64, 62, 0.5);
    border: 1px solid #48403e;
}

.copy {
    display: flex; 
    justify-content: center;
    align-items: flex-end;
    padding: 10px; 
    
}

.copy:hover {
    cursor: pointer;
}

.label {
    display:block;
}
/* footer */ 

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


footer {
    margin-top: auto;
    background-color: #f1f7ee;
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.2);
    position: relative;
   
}

.gh-icon {
    display: flex;
    justify-content: flex-start;
    padding: 10px ;
    background-color: #f1f7ee;
    color: #48403e
}

.gh-icon:hover{
    text-decoration: none;
    color: #589240;; 
}

.row {
    margin-bottom: 50px; 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px 20px 35px 20px; 
    border-radius: 5px;
    
}

.label {
    width: 100px; 
}


.fa-solid {
    padding: 15px; 
}


@media screen and (max-width: 1200px) {
    .col-sn {
        display: flex; 
        flex-direction: column;
        justify-content: flex-start;
        flex: wrap;
    }
 
    .banner {
        width: 100%;
    
    }
    #fill {
        display: none;
    }
  
    .gh-icon-container {
        display: flex; 
        justify-content: center;
        margin: 20px; 
    }
}

@media screen and (max-width: 300px) {
    .banner {
        width: 100%
    }
}

@media screen and (max-width: 600px) {
    .banner {
        width: 100%
    }
    .col-sm {
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

